[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cubble"]
	path = cubble
	url = https://github.com/huizezhang-sherry/cubble
[submodule "ferrn"]
	path = ferrn
	url = https://github.com/huizezhang-sherry/ferrn
[submodule "tidyindex"]
	path = tidyindex
	url = https://github.com/huizezhang-sherry/tidyindex
